{% extends "base.html" %}

{% block title %}HCM Gala{% endblock %}

{% block body %}
{% raw %}
<div class="container">

  <div class="col-md-3 text-center my-3">
    <img src="/static/img/logo.png" style="max-width:50%;">
  </div>


	<div v-show="display" id="section2" class="mt-4" style="display:none;">
    <h3 class="my-4">I'm Interested In Helping HCM</h3>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="email_subscribe" name="email_subscribe" class="form-check-input mr-2" type="checkbox" value="">
        Subscribe for email updates
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="prayer_partner" name="prayer_partner" class="form-check-input mr-2" type="checkbox" value="">
        Prayer Partner
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="volunteer" name="volunteer" class="form-check-input mr-2" type="checkbox" value="">
        Volunteer
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="noah" name="noah" class="form-check-input mr-2" type="checkbox" value="">
        Noah After School (Grades 1-5)
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="younglife" name="younglife" class="form-check-input mr-2" type="checkbox" value="">
        Younglife (Grades 9-12)
      </label>
    </div>
    <div class="form-check pl-5">
      <label class="form-check-label">
        <input v-model="field_trips" name="field_trips" class="form-check-input mr-2" type="checkbox" value="">
        Host student field trips
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="cooking" name="cooking" class="form-check-input mr-2" type="checkbox" value="">
        Cooking / Donating Meals
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="maintenance" name="maintenance" class="form-check-input mr-2" type="checkbox" value="">
        Service Projects (i.e. building repairs, painting, etc)
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="administration" name="administration" class="form-check-input mr-2" type="checkbox" value="">
        Administration (i.e. mailings, etc)
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="event_planning" name="event_planning" class="form-check-input mr-2" type="checkbox" value="">
        Event Planning
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="table_host" name="table_host" class="form-check-input mr-2" type="checkbox" value="">
        Table Host at Annual Gala
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="silent_auction" name="silent_auction" class="form-check-input mr-2" type="checkbox" value="">
        Contact me about donating a silent auction item
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="contact_me" name="contact_me" class="form-check-input mr-2" type="checkbox" value="">
        Please Contact Me
      </label>
    </div>
    <h3 class="my-3">I Can Help Spread The Word About HCM</h3>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="tell_friends" name="tell_friends" class="form-check-input mr-2" type="checkbox" value="">
        I'd like to tell my friends about HCM
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="tell_church" name="tell_church" class="form-check-input mr-2" type="checkbox" value="">
        I'd like to talk to my church about supporting HCM
      </label>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="other_input">Other</label>
        <input v-model="other" class="form-control" id="other_input" type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 my-3">
        <button v-on:click="back" class="btn btn-light">Back</button>
        <button v-on:click="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <br/><br/>
	</div>

  <div v-show="display" id="section3" style="display:none;">
    <p>Do you currently give to HCM monthly?</p>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <div class="form-check-label">
          <input v-model="currently_give" value="true" class="form-check-input" type="radio"> Yes
        </div>
      </div>
      <div class="form-check form-check-inline">
        <div class="form-check-label">
          <input v-model="currently_give" value="" class="form-check-input" type="radio"> No
        </div>
      </div>
    </div>

    <div v-if="currently_give === ''" class="form-row my-3">
      <div class="col-md-2 my-2">
        <label for="one_time_input">One Time Donation</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input v-model="one_time_donation" class="form-control" id="one_time_input" type="number">
        </div>
      </div>
      <div class="col-md-2 my-2">
        <label for="monthly_input">Monthly Donation</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input v-model="monthly_donation" class="form-control" id="monthly_input" type="number">
        </div>
      </div>
    </div>

    <div v-if="currently_give === 'true'">
      Are you renewing your commitment (in full or in part) for another year?
      <div class="form-group">
        <div class="form-check form-check-inline">
          <div class="form-check-label">
            <input v-model="renewal" value="true" class="form-check-input" type="radio"> Yes
          </div>
        </div>
        <div class="form-check form-check-inline">
          <div class="form-check-label">
            <input v-model="renewal" value="" class="form-check-input" type="radio"> No
          </div>
        </div>
      </div>

      <div v-if="renewal === ''">
        <div class="col-md-3 my-2">
          <label for="one_time_input">One Time Donation</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input v-model="one_time_donation" class="form-control" id="one_time_input" type="number">
          </div>
        </div>
        <p>We're so sorry to lose you as a donor. May we contact you to discuss your decision?</p>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <div class="form-check-label">
              <input v-model="discuss_decision" value="true" class="form-check-input" type="radio"> Yes
            </div>
          </div>
          <div class="form-check form-check-inline">
            <div class="form-check-label">
              <input v-model="discuss_decision" value="" class="form-check-input" type="radio"> No
            </div>
          </div>
        </div>
      </div>

      <div v-if="renewal === 'true'">
        <div class="form-row my-3">
          <div class="col-md-3 my-2">
            <label for="one_time_input">One Time Donation</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input v-model="one_time_donation" class="form-control" id="one_time_input" type="number">
            </div>
          </div>
          <div class="col-md-3 my-2">
            <label for="monthly_input">Current Monthly Donation</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input v-model="monthly_donation" class="form-control" id="monthly_input" type="number">
            </div>
          </div>
        </div>

        <div v-show="renewal" class="form-check my-2">
          <label class="form-check-label">
            <input v-model="increase_donation" class="form-check-input mr-2" type="checkbox" value="">
            Would you consider increasing your donation this year?
          </label>
        </div>
        <div v-show="increase_donation">
          <div class="form-row my-3">
            <div class="col-md-4 my-2">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input v-model="renewal_increase" class="form-control" id="renewal_increase_input" type="number">
              </div>
            </div>
          </div>
          <label>Increase last years amount by % or enter in a new amount above</label><br/>
          <div class="form-row text-center my-2">
            <button v-on:click="increase(10)" type="button" class="btn btn-info ml-2">10%</button>
            <button v-on:click="increase(20)" type="button" class="btn btn-info ml-2">20%</button>
            <button v-on:click="increase(50)" type="button" class="btn btn-info ml-2">50%</button>
            <button v-on:click="increase(100)" type="button" class="btn btn-info ml-2">100%</button>
          </div>
          <label class="my-2"><strong>New total monthly commitment: ${{ total_monthly }}</strong></label>
        </div>
      </div>

    </div>
    <div class="form-row">
      <div class="col-md-4 my-3">
        <button v-on:click="back" class="btn btn-light">Back</button>
        <button v-on:click="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <div class="form-row">
      <p class="muted">NOTE: If you resubmit you will <b>not</b> create a new submission. It will update the info from your previous submission</p>
    </div>

  </div>

  <div id="overlay" onClick="overlay_off()">
    <h4 id="overlay_text">Hold on there, wait until Dave says it's time for the next page! (click anywhere to dismiss this notification)</h4>
  </div>

</div>
<!--<script src="https://unpkg.com/vue"></script>-->
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/main.js"></script>

{% endraw %}
{% endblock %}
